@import "tailwindcss";

@font-face {
    font-family: contentFont;
    src: url(../public/fonts/Sweet_Melon.otf);
}

@font-face {
    font-family: headerFont;
    src: url(../public/fonts/DESYREL.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(../public/fonts/edosz.ttf);
}